package pages

import (
    "github.com/rhenerp/go-htmx-bootstrap/ui/layouts"
    "github.com/rhenerp/go-htmx-bootstrap/ui/modules"
    "github.com/rhenerp/go-htmx-bootstrap/models"
)

templ RenderHomePage(i []models.Item) {
    @layouts.BaseLayout() {
        <div id="main-home">
            <div>
                @modules.RenderSampleTable(i)
            </div>
            <div class="py-6">
                @modules.RenderSampleTabs()
            </div>
        </div>
    }
}