package pages

import "github.com/rhenerp/go-htmx-bootstrap/ui/layouts"
import "github.com/rhenerp/go-htmx-bootstrap/ui/modules"

templ RenderHomePage(s string) {
    @layouts.BaseLayout() {
        its ok my child, { s }

        <div id="main-home">
            <div>
                @modules.RenderSampleTable()
            </div>
            <div>
                @modules.RenderSampleTabs()
            </div>
        </div>
    }
}